* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.body-cadastro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../') no-repeat center center fixed;
  background-size: cover;
}

.form-pokemon {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  padding: 30px;
  width: 800px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

/* Espaçamento entre elementos do formulário */
.form-pokemon label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}

.form-pokemon input,
.form-pokemon select,
.form-pokemon textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.form-pokemon button {
  width: 100%;
  padding: 12px;
  background-color: #ffffff33;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.form-pokemon button:hover {
  background-color: #ffffff55;
}